<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>VPL</key>
		<dict>
			<key>Definition</key>
			<string>Visual Programming Langauge</string>
		</dict>
	</dict>
</dict>
</plist>
