<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Chapters</key>
	<array>
		<string>Introduction.playgroundchapter</string>
		<string>Overview.playgroundchapter</string>
		<string>Examples.playgroundchapter</string>
		<string>Customization.playgroundchapter</string>
		<string>Playground.playgroundchapter</string>
	</array>
	<key>ContentIdentifier</key>
	<string>com.NathanFlurry.VPLPlayground</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>DeploymentTarget</key>
	<string>ios11.0</string>
	<key>DevelopmentRegion</key>
	<string>en</string>
	<key>ImageReference</key>
	<string>cover.png</string>
	<key>Name</key>
	<string>WWDC18: VPL</string>
	<key>SwiftVersion</key>
	<string>4.0</string>
	<key>Version</key>
	<string>4.0</string>
</dict>
</plist>
